/* Import font */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

:root {
    /* Light Mode Colors */
    --dark-color: #2C3E50;  
    --button-hover-color: color(display-p3 0.59 0.89 0.83);    
    --text-hover-color: color-mix(in srgb, var(--text-color) 20%, #04715b 80%);
    --background-color: #f5f5f5;
    --bar-color: #dcdcdc;
    --bar-border-color: #ccc;
    --text-color: #2c2c2c;
    --button-color: #f3f3f3;
    --border-color: #000000;
    --shadow-color: rgba(0,0,0,0.2);
    --heading-font-size: 2rem;
    --medium-font-size: 1.5rem;
    --text-font-size: 1rem;
    --shadow-color: rgba(0,0,0,0.2);

    /* Fonts */
    --font-family: 'Roboto', 'Arial, sans-serif';
    --font-heading: 'Roboto', 'Helvetica Neue, sans-serif';
}

/* View Transition */
@view-transition {
    navigation: auto;
}

::view-transition-new(main-content) {
    animation: slideRight 0.7s forwards;
}

@keyframes slideRight { from {transform: translateX(100%);} to {transform: translateX(0);} }

/* Dark Mode Colors */
body:has(#theme-toggle:checked) {
    --dark-color: #1a252f;      
    --button-hover-color: #2acab7; 
    --text-hover-color: #66e1d0;  
    --background-color: #121212; 
    --bar-color: #2c2c2c;        
    --bar-border-color: #3d3d3d;   
    --text-color: #e0e0e0;         
    --button-color: #1f1f1f;     
    --border-color: #ffffff;     
    --shadow-color: rgba(255,255,255,0.05);  
}

/* ===== General Page Setup ===== */
html, body {
    height: 100dvh;
    width: 100dvw;
    margin: 0;
    padding: 0;
}

body {
    font-family: var(--font-family);
    background-color: var(--background-color);
    color: var(--text-color);
    display: flex;
    flex-direction: column;
    transition: background-color 0.3s ease, color 0.3s ease, box-shadow 0.3s ease;
    scrollbar-width: none;
}

main {
    flex: 1;
    display: flex;
    margin-top: 2rem;
    padding: 2rem;
    background-color: var(--background-color);
}

::-webkit-scrollbar {
    display: none;
}

/* ===== Header Section ===== */
header {
    position: fixed;
    height: 4rem;
    width: 100dvw;
    display: flex;
    justify-content: space-between;
    align-items: center; 
    background-color: var(--bar-color);
    border-bottom: 1px solid var(--bar-border-color);
    box-sizing: border-box;
    padding: .25em .5em;
    z-index: 1000;

    #settings-button {
        background: none;
        border: none;
        cursor: pointer;
        padding: 0;

        .fa{
            font-size: 2.5em;
            color: var(--text-color);
        }
    }
    
    nav a {
        text-decoration: none;
        color: var(--text-color);
        background-color: var(--button-color);
        border: 1px solid var(--border-color);
        border-radius: 5px;
        padding: .5em;
        margin-left: .5em;
        font-size: 1em;
        transition: background-color 0.4s;
    }
    
    nav a:hover {
        background-color: var(--button-hover-color)
    }
}

/* ===== Sidebar Section ===== */
#sidebar-section {
    position: fixed;
    top: 4rem;
    bottom: 2rem;
    width: 160px; /* was 15em */
    text-align: center;
    border-right: 3px solid var(--border-color);
    padding-right: 2rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
    overflow-y: auto;

    @scope (picture) {
        img {
            width: 150px;  /* was 150px */
            height: 150px; /* was 150px */
            border-radius: 50%;
            border: 2px solid var(--border-color);
            object-fit: cover;
            margin-bottom: 1rem; /* was 10px */
        }
    }

    #text-info h2 {
        font-size: 1.25rem; /* was 1.25rem */
        margin: 0.5rem 0;
    }

    #text-info p {
        font-size: .75rem; /* was 0.75rem */
        padding: 0.5rem;
        margin-top: 10px;
        text-align: left;
    }

    #media-links {
        margin-top: 2rem;
    }

    #media-links ul {
        list-style: none;
        padding: 0;
        margin: 0;
        display: flex;
        flex-direction: column;
        gap: 1rem; /* was 1rem */
    }

    #media-links .fa {
        font-size: 1.25rem; /* was 1.25rem */
    }

    #media-links a {
        color: var(--text-color);
        text-decoration: none;
        font-family: var(--font-family);
        font-size: 1rem; /* was 1rem */
        display: flex;
        align-items: center;
        transition: color 0.2s;
    }

    #media-links a i span {
        font-family: var(--font-family);
        margin-left: 10px; /* was 10px */
        font-size: 1rem; /* was 1.25rem */
    }

    #media-links a:hover {
        color: var(--text-hover-color);
    }
}

/* ===== About Section ===== */
#about-section {
    view-transition-name: main-content;
    padding-left: 2.5rem;
    margin-left: calc(160px + 2rem);

    h1 {
        font-size: var(--heading-font-size);
        margin-bottom: 0;
    }

    p {
        max-width: 50rem;
        padding: 1rem;
        font-size: var(--text-font-size);
        line-height: 1.5;
        text-align: justify
    }
}

/* ===== Project Section ===== */
#project-section{
    view-transition-name: main-content;
    padding-left: 2.5rem;
    margin-left: calc(160px + 2rem);
    margin-bottom: 2rem;

    #project-header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 1rem;
    }
    
    #storage-buttons button {
        color: var(--text-color);
        background-color: var(--button-color);
        border: 1px solid var(--border-color);
        border-radius: 5px;
        padding: .5em;
        margin-left: .5em;
        font-size: 1em;
        cursor: pointer;
        transition: background-color 0.4s;
    }

    #storage-buttons button:hover {
        background-color: var(--button-hover-color)
    }
}

/* ===== Experience Section ===== */
#experience-section{
    view-transition-name: main-content;
    padding-left: 2.5rem;
    margin-left: calc(160px + 2rem);
    margin-bottom: 2rem;

    .cards-container {
        display: flex;
        flex-direction: column; /* one per row */
        gap: 2rem;              /* spacing between cards */
        width: 100%;
        align-items: center;     /* center cards horizontally */
    }
}

/* ===== Footer ===== */
footer {
    position: fixed;
    bottom: 0;
    left: 0;
    height: 2rem;
    width: 100dvw;
    text-align: center;
    background-color: var(--bar-color);
    padding: .2rem 0;
    font-size: .75rem;
    border-top: 1px solid var(--bar-border-color);
}


/* Settings Dialog */
#settings-dialog {
    font-family: var(--font-family);
    color: var(--text-color);
    border: 1px solid var(--border-color);
    border-radius: 10px;
    padding: 1rem;
    width: 15rem;
    background-color: var(--background-color);
    box-shadow: 10px 10px 50px var(--shadow-color);


    &::backdrop {
        background-color: rgba(0,0,0,0.2);
        backdrop-filter: blur(5px);
    }

    & h2 {
        margin: 0 0 1rem 0;
    }

    & button {
        display: block;
        margin-left: auto;
        padding: 0.5rem 1rem;
        background-color: var(--button-color);
        color: var(--text-color);
        border: 1px solid var(--border-color);
        border-radius: 5px;
        cursor: pointer;
        transition: background-color 0.3s ease;
    }

    & button:hover {
        background-color: var(--button-hover-color);
    }

    .switch {
        display: flex;
        align-items: center;
        gap: 10px;
        cursor: pointer;
        font-family: var(--font-family);
    }

    .switch input {
        display: none;
    }

    .slider {
        width: 50px;
        height: 24px;
        background-color: var(--background-color);
        border-radius: 34px;
        position: relative;
        transition: background-color 0.3s;
        border: 2px solid var(--border-color);
    }

    .slider::before {
        content: "";
        position: absolute;
        width: 21px;
        height: 21px;
        left: 0.5px;
        top: 0.5px;
        background-color: var(--text-color);
        border-radius: 50%;
        transition: transform 0.3s;
        border: 1px solid var(--border-color);
    }

    .switch input:checked + .slider::before {
        transform: translateX(26px);
        border: 1px solid var(--background-color);
    }

    .switch input:checked + .slider {
        background-color: var(--dark-color);
    }

    .switch-label {
        font-size: 1rem;
    }
}

/* Responsive Design */
@media (max-width: 900px) {

    #sidebar-section {
        position: fixed;
        top: 4rem;
        left: 0;
        width: 100%; 
        height: 6rem;
        display: flex;
        align-items: center; 
        gap: 1.5rem;     
        padding: 1rem;
        margin: 0;
        border-bottom: 1px solid var(--bar-border-color);
        background-color: var(--background-color);
        z-index: 1000;

        picture img {
            width: 75px;
            height: 75px;
            margin: 0;
        }

        #media-links {
            margin-top: 0;
        }
    
        #media-links ul {
            list-style: none;
            padding: 0;
            margin: 0;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            gap: 0;
        }
    
        #media-links .fa {
            font-size: 1.25rem;
        }
    
        #text-info {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            height: auto;
            gap: 0;
        }
        
        #text-info h2 {
            font-size: 1.5rem; 
            margin: 0;
            padding: 0;
        }
        
        #text-info p {
            font-size: 1rem;
            width: 12rem;
            margin: 0;
            padding: 0;
            text-align: left;
        }
    }

    #about-section {
        padding: 0 1rem;
        margin-left: 0;
    }

    #project-section {
        padding: 0 1rem;
        margin-left: 0;
    }

    #experience-section {
        padding: 0 1rem;
        margin-left: 0;
    }

    main {
        margin-top: 10rem;
    }

    
}

/* Media Query for Phones */
@media (max-width: 450px) {
    #sidebar-section {
        span{
            display: none;
        }
    }
}